@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: rgb(57, 209, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

canvas{
    border: 2px solid black;
    image-rendering: pixelated;/* 
    transform: scale(1.2); */
}