@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&family=Libre+Baskerville&display=swap');

body {
    margin: 0;
    background: rgb(57, 209, 110);
    font-family: 'Libre Baskerville', serif;
}

.pagina {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle {
    position: relative;
    overflow: hidden;
}

.telamenu {
    width: 1080px;
    height: 540px;
    background-image: url("../assets/imgs/menuinicial/sala de aula.png");
    background-size: 100% 100%;
    text-align: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.todosbotoes {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80;
    margin-left: 30;
}

.botao {
    margin-bottom: 20px;
    text-align: left;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    background: transparent;
    position: relative;
    border: none;
    padding: 10px;
}

.botao:hover:enabled {
    cursor: pointer;
    color: white;
    background: rgb(105, 217, 73);
    background: linear-gradient(90deg, rgba(105, 217, 73, 1) 48%, rgba(105, 217, 73, 0.14359247116815477) 100%);
    border-radius: 10px 0px 0px 10px;
}

.botao:hover:enabled:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgb(12, 169, 6), rgba(140, 0, 255, 0));
    z-index: -1;
    margin: -3px;
    border-radius: 10px;
}

.creditos {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: black;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: 1s;
}

.creditosativado {
    transform: translateY(0%);
    z-index: 100;
}

.conteudo {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.txt {
    text-align: center;
    color: beige;
    font-size: 1.2em;
}

.voltar {
    position: absolute;
    right: 100px;
    bottom: 20px;
    padding: 20px 45px;
    outline: none;
    border: none;
    background-color: greenyellow;
    border-radius: 1.1rem;
    font-size: 1.4em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.voltar:hover {
    background-color: gray;
    color: greenyellow;
}

.carregamento {
    color: #fff;
    text-align: right;
    background-color: black;
    position: absolute;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%); 
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 40%;
}

h2 {
    position: absolute;
    right: 15px;
    bottom: 15px;
}


.musicas {
    display: flex;
    margin-bottom: auto;
}

.musicadiv {
    width: 4vw;
    height: 6vh;
    margin-left: 2vw;
    background-image: url("../assets/imgs/menuinicial/musicadesligada.png");
    background-size: 100% 100%;
    cursor: pointer;
}
