@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&family=Libre+Baskerville&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("sala de aula.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
button{
    width: 30vw;
    height: 8vh;
    margin-top: 2vh;
    cursor: pointer;
    text-align: left;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    background: transparent;
    position: relative;  
    border: none;
    padding: 10px;
}
button:hover{
    color: white;
    background: rgb(56,9,121);
    background: linear-gradient(90deg, rgba(56,9,121,0.7847514005602241) 50%, rgba(141,0,255,0) 100%);
    border-radius: 10px 0px 0px 10px;
}
button:hover::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, black, rgba(140, 0, 255, 0));
    z-index: -1;
    margin: -3px;
    border-radius: 10px; 
}
.telamenu{
    width: 100vw;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.todosbotoes{
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;

}
.musicadiv{
    width: 6vw;
    height: 9vh;
    margin-left: 2vw;
    background-image: url("musicadesligada.png");
    background-size: 100% 100%;
    cursor: pointer;
}
.jogo{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
}
.creditos{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
}
.opcoes{
    background-color: cyan ;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
}
canvas{
    border: 0;
    width: 98vw;
    height: 98vh;
}
.musicas{
    display: flex;
    justify-content: right;
    width: 100vw;
}